# Ignore the bot_token.txt file
bot_token.txt

# Ignore the stepan_answers.json file
stepan_answers.json

# Ignore the images folder (replace "images" with your actual folder name)
images/

# Ignore the DS_Store file
.DS_Store